.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    flex: 1;
    margin-bottom: 30px;
}


@keyframes title-float {
    0% {
        transform: translateY(0);
        text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: translateY(10px);
        text-shadow: 0px 20px 30px rgba(0, 0, 0, 0.6);

    }
}

h1 {
    font-size: 3rem;
    color: #fff;
    animation: title-float 0.8s infinite alternate;
    animation-timing-function: ease-out;
}

.container input {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    width: 60%;
    max-width: 300px;
    margin-top: 30px;
}

.container button {
    background-color: #ff9800;
    border: 0;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.container button:hover {
    opacity: 0.9;
    background-color: #f57c00;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.slide-in-left {
    animation: slideInFromLeft 0.5s ease-out forwards;
}

.slide-in-right {
    animation: slideInFromRight 0.5s ease-out forwards;
}

